/* CSS Document */
@media screen and (min-width: 960px) {
body{
	background-image: url(../images/wrapper-bg.png);
	background-repeat: repeat;
	background-position: left top;
	background-attachment: fixed;
}

}